.LoginPage {
  min-height: 100vh;
  background-color: #00BCD4;
}

.LoginPage__banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LoginPage__image {
  display: block;
  width: 100%;
  max-width: 800px;
}
